<footer class="bg-dark text-white py-4" style="margin-top: 200px; width: 100%;">
    <div class="container">
      <div class="row" style="margin-left: 350px;  ">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>We are a leading e-commerce platform providing a wide range of products to our valued customers.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">Products</a></li>
            <li><a href="#" class="text-white">Contact Us</a></li>
            <li><a href="#" class="text-white">About Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <address>
            1234 Main Street<br>
            Anytown, India 12345<br>
            <a href="tel:+1234567890" class="text-white">+91 234 567 890</a><br>
            <a href="mailto:info@example.com" class="text-white"></a>
          </address>
        </div>
      </div>
      <div class="text-center mt-3">
        <p>&copy; 2024 Software Company. All rights reserved.</p>
      </div>
    </div>
  </footer>  