.container{
    margin-left: 5%;
    margin-right: 5%;
}

.carousel-caption{
    background-color: black;
    color: black;
    border-radius: 5px;
    z-index: 2;
}


.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    border: 5px;
}